%ul.page-message-exchanged-users
  -@messages.each do |message|
    :ruby
      created_at = message.created_at.localtime
      content = message.content
      
      i_am_sender = current_user == message.sender
      i_am_receiver = current_user == message.receiver
      
      klass = 'to' if i_am_sender
      klass = 'from' if i_am_receiver
      
      exange_url = "/short_messages/exchange?receiver_id=#{message.sender.id}"
  
    %li.message
      .ct
        -if i_am_sender
          %span.user 发送给 #{message.receiver.name} :
        -elsif i_am_receiver
          %span.user 来自 #{message.sender.name} :
          
        %span.text=content
        %span.at (#{created_at})
        
      .ops
        =link_to "查看", exange_url
        

          

